
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="static/css/styles.css" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <header>
        <section class="nav">
            <!-- We can also insert any logo here     -->

            <!-- We can also insert any logo here     -->
            <div class="logo">
                <a href="#"><i class="fas fa-sign-language"></i></i>signers</a>
            </div>

            <!--  checkbox to control the icon's state    -->
            <input id="menu-toggle" type="checkbox" />
            <label class="menu-button-container" for="menu-toggle">
          <div class="menu-button"></div>
        </label>
            <!--  main menu    -->
        </section>
    </header>

    <!-- header section ends -->

    <!-- hero section starts  -->

    <section class="home" id="home ">
        <video autoplay muted loop id="video-background">
            <source src="static/images/3D animation_ Hearing the Sign Language.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="content">
            <!-- Tagline -->
            <h3 class="mainfont">
                 <!-- header section starts  -->
                sign <span class="yellowColor"> language </span>detector
            </h3>
            <h3>
                <span class="yellowColor">live</span>
            </h3>
            <!--Description  -->

            <!-- Video Background -->
            <!-- CTA -->
            <a href="/video" class="btn">Go and Test</a>
        </div>
        <!-- Hero image -->
    </section>

    <!-- hero section ends   -->
</body>

</html>
